.navbar {
    overflow: hidden;
    background: rgba(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(31, 247, 107);
}

.main {
    overflow: hidden;
    text-align: center;
    background-color: pink;
    font-family: Circular, Helvetica, Arial;
    background-size: contain;
    padding-bottom: 20px;
    padding-top: 50px;
    font-weight: 200;
}

h1.getpre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -1.6px;
    text-size-adjust: 100%;
    line-height: 1.2;
    text-decoration-style: solid;
}

h1.save {
    font-size: 30px;
}

.gp {
    background-color: rgb(30, 215, 96);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    box-sizing: border-box;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border-color: rgb(30, 215, 96);
}

.button:hover {
    background-color: rgb(31, 247, 107);
}
.lm {
    background-color: pink;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.maintwo {
    overflow: hidden;
    text-align: center;
    font-family: Circular, Helvetica, Arial;
    font-weight: 900;
    letter-spacing: -1.6px;
    line-height: 96px;
    text-size-adjust: 100%;
    color: white;
    background-color: orange;
}

.gsf {
    background-color: rgb(30, 215, 96);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: white;
}

.footer {
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}